.feynman__link {
  margin: 0;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.feynman__link:hover {
  opacity: .5;
}