.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  list-style: none;
  box-sizing: border-box;
  margin-right: 100px;
}

.cards__item:nth-child(3n+3) {
  margin-right: 0;
}