.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
}

.logo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.logo_place_header {
  background-image: url("../images/logo_place_header.svg");
  width: 183px;
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 2;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  position: absolute;
  left: 64px;
  align-self: center;
  z-index: 2;
  margin: 0;
  padding: 0;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  margin: 0;
  padding: 0;
}

.header__link {
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url("../images/header-image.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.description {
  align-items: center;
  margin-top: 100px;
}

.two-columns {
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  padding: 0;
  margin: 0 0 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 700;
  width: 183px;
  height: 32px;
}

.digits {
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table {
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  margin: 20px 0 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.feynman {
  padding-top: 100px;
  position: relative;
  align-items: center;
  height: 790px;
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}

.feynman__title {
  margin: 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle {
  margin: 70px 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.feynman__link {
  margin: 0;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}

.kaufman {
  position: relative;
  align-items: center;
  padding: 90px 0;
  background-color: #000;
  overflow: hidden;
}

.section-title_theme_dark {
  color: #fff;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: #fff;
}

.table_theme_dark {
  margin: 0 auto;
}

.table_theme_dark {
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: #fff;
  margin: 80px 0 0;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
  position: absolute;
  right: -210px;
  top: 0;
}

.footer {
  background-color: #000;
  min-height: 350px;
  justify-content: center;
}

.columns {
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_info {
}

.footer__column_content_social {
}

.logo_place_footer {
  width: 185px;
  height: 35px;
  background-image: url("../images/logo_place_footer.svg");
}

.footer__author {
  color: #fff;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-heading {
  color: #fff;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  margin: 20px 0 16px;
  align-content: end;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-link {
  color: #fff;
  text-decoration: none;
}

.footer__social_icon {
  object-fit: contain;;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
