.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  /* выше установили ограничения для секции */
}

.logo {
  background-size: cover;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  object-fit: cover;
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 2;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  position: absolute;
  left: 64px;
  align-self: center;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  object-fit: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

